.header-component {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.header-component p {
  font-size: 0.7rem;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Perfectly center */
  text-align: center;
}

.header-title h2{
  cursor: pointer;
}
.user-info {
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header-component .material-symbols-outlined {
  font-size: 1rem;
}
.signout-button {
  cursor: pointer;
}

.username {
  font-size: 0.7rem;
}

.username-container {
  display: flex;
  flex-direction: row;
  gap: 0rem;
}

.sing-out-container {
  display: flex;
  flex-direction: row;
  gap: 0rem;
}

.sub-title {
  font-size: 0.8rem;
}

.new-chat {
  position: absolute;
  right: 2rem;
  top: 65%;
  transform: translateY(-50%);
}

.button.new-chat-btn {
  background-color: transparent;
  color: white;
  border: 0.2px solid rgba(255, 255, 255, 0.398);
  font-size: 0.7rem;
}